$maastricht-blue: #091C38;
$cerulean-blue: #2B59C3;
$periwinkle: #CADFFA;
$oxford-blue: #01134E;
$airforce-blue: #003392;
$background: linear-gradient(282.26deg, rgba(1, 19, 78, 0.8) -0.78%, rgba(43, 89, 195, 0.8) 100%);