.attribute-container {
  margin: 20px;
  width: 85%;
  background: rgba(202, 223, 250, 0.8);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 190px));
  grid-template-rows: repeat(auto-fit, 200px);
  grid-gap: 5px;
  padding: 20px;
  transition: .8s;

  @include respond-until(tablet) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 145px));
    grid-template-rows: repeat(auto-fit, 150px);
    width: 80%;
  }

  &__attribute {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin: 20px 0;


    img {
      width: 70%;
      height: auto;
      opacity: .7;
      filter: grayscale(100%);
      
      &:hover {
        filter: grayscale(0%);
        opacity: 1;
        transition: .5s;
      }
    }
  }

  &__tooltip {
    position: absolute;
    bottom: -60px;
    padding: 10px;
    background-color: $maastricht-blue;
    color: white;
    border-radius: 5px;
    z-index: 100;
    opacity: .7;
    animation: fade-tooltip .5s ease-in-out;
  }

}




