footer {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $maastricht-blue;

  .socials {
    display: flex;
    justify-content: center;
    margin: 10px;

    @include social-logo;
  }

  .footer-nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;

    @include respond-until(tablet) {
      justify-content: center;
    }

    &__nav {
      width: 50%;

      @include respond-until(tablet) {
        width: 90%;
      }
    }

    &__text {
      display: flex;
      align-items: center;
      color: $periwinkle;
      margin: 10px;

      .pokko {
        width: 30px;
        height: auto;
        background-color: $periwinkle;
        border-radius: 100%;

        @include respond-until(tablet) {
          width: 20px;
          height: auto;
        }
      }
    }
  }
}
