body {
  background: $background;
}

h1 {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  @include respond-until(tablet) {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  @include respond-until(tablet) {
    font-size: 20px;
  }
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  @include respond-until(tablet) {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: $periwinkle;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  position: relative;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  color: $periwinkle;
  font-size: 30px;
  transition: .5s;
  @include respond-until(tablet) {
    font-size: 16px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: $periwinkle;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }

  &:hover::before {
    visibility: visible;
    width: 100%;
  }
}

.button-general {
  color:  $periwinkle;
  background-color: $airforce-blue;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: .8s;

  @include respond-until(tablet) {
    font-size: 16px;
  }

  &.resume {
    margin-top: 30px;
  }
}

.button-menu {
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Nunito', sans-serif;
  color: $periwinkle;
  font-size: 30px;

  @include respond-until(tablet) {
    font-size: 16px;
  }
}

.portlink {
  text-decoration: none;
  color: $airforce-blue;
}

#periwinkle-h2 {
  color: $periwinkle;
  margin-top: 10px;
}