body {
  background: $background;
}

h1 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  @include respond-until(tablet) {
    font-size: 30px;
  }
}

h2 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  @include respond-until(tablet) {
    font-size: 20px;
  }
}

h3 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  @include respond-until(tablet) {
    font-size: 20px;
  }
}

p,
label,
input,
textarea {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  @include respond-until(tablet) {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: $periwinkle;
  font-family: "Roboto", sans-serif;
  font-size: 24px;

  @include respond-until(tablet) {
    font-size: 15px;
  }

  &.portlink {
    color: $airforce-blue;
  }
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  position: relative;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  color: $periwinkle;
  font-size: 30px;
  transition: 0.5s;
  @include respond-until(tablet) {
    font-size: 16px;
  }

  @include underline;
}

.button-general {
  color: $periwinkle;
  background-color: $airforce-blue;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.8s;

  @include respond-until(tablet) {
    font-size: 16px;
  }

  &.resume {
    margin-top: 30px;
  }
}

.button-menu {
  cursor: pointer;
  border: none;
  background: none;
  font-family: "Nunito", sans-serif;
  color: $periwinkle;
  font-size: 30px;

  @include respond-until(tablet) {
    font-size: 16px;
  }
}

.portlink {
  text-decoration: none;
  color: $airforce-blue;
}

#periwinkle-h2 {
  color: $periwinkle;
  margin-top: 10px;
}
