.video-container {
  position: relative;
  width: 100%;
  max-height: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__video-hero {
    width: 100%;
    align-self: baseline;
    z-index: 0;
  }

  &__colour-overlay {
    background: linear-gradient(282.26deg, rgba(1, 19, 78, 0.8) -0.78%, rgba(43, 89, 195, 0.6) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%
  }

  &__text {
    position: absolute;
    color: $periwinkle;  
    text-align: center;
    font-family: 'Noto Sans KR';
    text-shadow: 1px 1px 2px black;
    z-index: 2;

    .socials {
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @include social-logo;

    }
  }
}