.swiper-container {
  overflow-y: visible;
  .swiper-slide {
    position: relative;
    height: 500px;
    width: 100% !important;
    @include respond-until(mobile) {
      height: 300px
    }
    
    img {
      width: 100%; 
      height: 120% !important;
      border-radius: 10px;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    color: $cerulean-blue !important;
  }

  .swiper-pagination {
    bottom: -20px !important;
  }
}